page-profil {
  .iconPersoClose {

    top: 42px;
    position: absolute;
    right: 40px;
  }
  .iconPersoSend {

    top: 42px;
    position: absolute;
    right: 62px;
  }

  .p {
    font-size: 18px !important;
    padding-top: 6px;
    color: black !important;
  }
}
